{% macro render_gym_classes(gym_classes) %}
<ul class="list-group">
    {% for gym_class in gym_classes %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ gym_class.name }} {{ gym_class.start_time }}
        {% if gym_class.capacity_free %}
        <span class="badge badge-primary badge-pill">gym_class.capacity_free</span>
        {% else %}
        <span class="badge badge-primary badge-pill">Space</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}