{% extends "layout.html" %}
{% from "gym_classes.html" import render_gym_classes %}
{% block title %}Hello{% endblock %}
{% block content %}
<h1>Hello!</h1>
<p class="important">
  Welcome to book your gym classes.
</p>
<form action="{{ url_for('hello') }}" method="post">
  <input type='hidden' name="membership_id" value="{{membership_id}}">
  <input type='hidden' name="session_id" value="{{session_id}}">
  <ul class="list-group">
    {% for one_day_gym_classes in gym_classes_by_day %}
    <li class="list-group-item d-flex justify-content-between align-items-center active">
      {{ one_day_gym_classes.0.date }}
    </li>
    {% for gym_class in one_day_gym_classes %}
    {% if gym_class.register_members_done %}
    {% if gym_class.register_members %}
    <button name="gym_class_id" value="{{gym_class._id}}"
      class="list-group-item list-group-item-action list-group-item-success d-flex justify-content-between align-items-center">
      {{ gym_class.time }} - {{ gym_class.class_name }}
      <span class="badge badge-primary badge-pill">Class booked</span>
      <span class="badge badge-primary badge-pill">{{gym_class.capacity_free}}</span>
    </button>
    {% else %}
    <button name="gym_class_id" value="{{gym_class._id}}"
      class="list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between align-items-center">
      {{ gym_class.time }} - {{ gym_class.class_name }}
      <span class="badge badge-primary badge-pill">Class will be removed in 5 minutes</span>
      <span class="badge badge-primary badge-pill">{{gym_class.capacity_free}}</span>
    </button>
    {% endif %}
    {% elif gym_class.register_members %}
    <button name="gym_class_id" value="{{gym_class._id}}"
      class="list-group-item list-group-item-action list-group-item-warning d-flex justify-content-between align-items-center">
      {{ gym_class.time }} - {{ gym_class.class_name }}
      <span class="badge badge-primary badge-pill">Class will be booked 48h before</span>
      <span class="badge badge-primary badge-pill">{{gym_class.capacity_free}}</span>
    </button>
    {% else %}
    <button name="gym_class_id" value="{{gym_class._id}}"
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {{ gym_class.time }} - {{ gym_class.class_name }}
      <span class="badge badge-primary badge-pill">{{gym_class.capacity_free}}</span>
    </button>
    {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}
</form>

{% endblock %}